html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: grid;
    place-content: center;
    height: 100vh;
    color: white;
}

h1 {
    font-family: 'Special Elite', serif;
    font-size: 3rem;
    letter-spacing: .8rem;   
}

.cursor {
    font-weight: bold;
    animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}